# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
server/node_modules/
seisuvai-react/node_modules/

# Production / Build
dist/
build/
dist-ssr/
seisuvai-react/dist/

# Environment / Local files
.env
.env.local
server/.env
.env*.local

# Cache / Editor
.vite/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
